#calendar {
    float: left;
    width: 70%;
}


#scheduler {
    float: right;
    margin: 10px;
    width: 25%;
}

#eventSchedulerDiv{
    float: left;
}

#eventEditorDiv{
    float: left;
}

#eventInfo {
    float: left;
}

#cancelButton {
    margin-top: 5px;
    margin-right: 5px;
}

#submitButton {
    margin-top: 5px;
    margin-right: 5px;
}

#cancelEditButton {
    margin-top: 5px;
    margin-right: 5px;
}

#submitEditButton {
    margin-top: 5px;
    margin-right: 5px;
}

#deleteEventButton {
    margin-top: 5px;
    margin-right: 5px;
}